---
import PageLayout from "@/layouts/Base";
import { Picture } from "@astrojs/image/components";
import SocialList from "@/components/SocialList";
import profilePicture from "../assets/profilepicture.jpg";

const meta = {
	title: "About",
	description: "A short description of who I am.",
};
---

<PageLayout meta={meta}>
	<div class="flex flex-col">
		<div class="items-center">
			<Picture
				src={profilePicture}
				class={"justify-center w-2/5 rounded-md md:ml-5 md:float-right m-auto mb-3 md:mb-0"}
				alt="Black and white portrait picture of Maurice Mertens"
				loading="lazy"
                                widths={[200, 400, 600]}
                                format="avif"
			/>
<p >Hi there! I'm Maurice, a software engineer with a passion for building things and staying active in my free time. I've always been fascinated by technology and love the process of creating and debugging software. 
In my spare time, I enjoy building and tinkering with electronics. One of my proudest projects is a custom keyboard I built from scratch. I also enjoy making music - it's a great way for me to relax and express myself creatively.
</p>
<p class="mt-5">
While I do enjoy staying fit and healthy, I'm also a big fan of pizza and don't mind indulging in a slice (or two) every now and then.
</p>

<p class="mt-5">
Overall, I'm someone who is constantly learning and trying new things. I have a curious and driven personality and am always looking for ways to improve my skills and knowledge. </p>
</p>
<SocialList/>
		</div>

	</div>
</PageLayout>
