---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import type { Post } from "@/data/posts";
const url = new URL(Astro.request.url);

const MAX_POSTS = 5;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<SocialList />
		<h1 class="title mb-4">Hi, I am Maurice!</h1>
		<p class="mb-2">
As a software engineer at a fashion company, I have the opportunity to work on a variety of projects that leverage data to drive the success of the business. Utilizing serverless technologies provided by AWS, I use a range of tools and technologies to extract and analyze data and develop solutions.
</p>

<p class="mb-2">
I have a passion for learning new frameworks and staying up-to-date with the latest developments, but I also understand the importance of using them responsibly. Working in a serverless environment allows me to be flexible and agile in my role, and I have the chance to work with a variety of data sources. I am a skilled engineer who is dedicated to using technology to drive results and stay at the forefront of innovation.
		</p>

                <p class="mb-4">
                If you want to know more check out my 
                  <a
                  href=/valuesandideologies
                  class="text-[color:var(--theme-link)] sm:hover:underline"
                  aria-current={url.pathname === "/valuesandideologies" ? "page" : false}
                  rel="prefetch">
                  values and ideologies
		 </a>
and
                  <a
                  href=/valuesandideologies
                  class="text-[color:var(--theme-link)] sm:hover:underline"
                  aria-current={url.pathname === "/valuesandideologies" ? "page" : false}
                  rel="prefetch">
                  what I look for in professional relationships.
		 </a>
                </p>
	</section>
	<section>
		<h2 class="title  text-xl">Skills</h2>
		<h2 class="title title mt-2 text-lg">Concepts</h2>
			<p>Serverless, Event Driven Design, TDD, BDD, CI/CD</p>
		<h2 class="title mt-2 text-lg">Languages</h2>
			<p>Python, Typescript, JavaScript</p>
		<h2 class="title title mt-2 text-lg">Frameworks / Tools</h2>
			<p>PyDantic, FastApi, express.js, react, AWS CDK, Terraform</p>
		<h2 class="title mt-2 text-lg">Everything else</h2>
			<p> git, jira, confluence, miro, slack meme master</p>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<PostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
