---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "A short description of who I am.",
};
---

<PageLayout meta={meta}>
  <section>
  <h1 class="title text-2xl">Values and Ideologies</h1>
  <h2 class="title text-lg mt-2">Work In Small Teams</h1>
  <p>
  I will always prefer working on a smaller team.
  My believe is that bigger teams add too much overhead.
  However this should not mean that I think that smaller companies are inherently better. Partitioning matters.
  </p>
  <h2 class="title text-lg mt-2">Avoid The Middleman</h1>
  <p>
  Information gets slowed down and distorted by every layer that it has to go through.
  Having as few people as needed helps to cut that problem and helps teams to take better responsibility.
  Don't make up unecessary positions just to have more people.
  </p>
  <h2 class="title text-lg mt-2">Stay foolish</h1>
  <p>
  A bit cheeky isn't it? Information is complex and messy. I don't want to waste my time by misunderstanding things so I often ask simple questions.
  No one wins when information does not get propegated porperly.
  </p>
  <h2 class="title text-lg mt-2">Always explain things</h1>
  <p>
  As much as it is needed that you ask questions it is also needed that you can explain things in simple terms.
  I like the benefit of being able to explain concepts in simple terms. It helps you to understand the problems that you are working in a much better way. Another one is that I can answer the questions of others more easily if I have deep understanding.
  </p>
  <h2 class="title text-lg mt-2">Write constantly</h1>
  <p>
  Information is volatile if it remains within the brain. Ideas can be better documented if they are written down instead of having a lot of meetings about them. This is why I think that it is important to write constantly and to have a more document based culture instead relying on meetings.
  </p>
  <h2 class="title text-lg mt-2">Like what you do</h1>
  <p>
  Every day could be my last and I like to remind myself of that. That's why it is important to me to have fun and to like what I do. I don't want to die with remorse.
  </p>
  <h2 class="title text-lg mt-2">Give Feedback and be able to receive feedback</h1>
  <p>
  The key to improvement is feedback, which I highly value. I don't depend on someone's opinion but if it is legit it can help me to grow. I also like to remind myself of giving feedback to others regurarly because that is also the way that I want to be treated.
  </p>
  </section>
</PageLayout>
